.LinkCapa
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.LinkCapa2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.Texto
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.Texto2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.TextoDamiao
{
	font-weight: bold;
	font-size: 18px;
	color: black;
	font-style: italic;
	font-family: Verdana, Arial, Tahoma;
}

.TextoMenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Arial, Tahoma, Verdana
}
.TextoMenu1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Arial, Tahoma, Verdana
}
.TextoContador
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoDamiao
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoTitulo
{
    FONT-SIZE: 18px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoLateral
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
.TextoFotos
{
    FONT-SIZE: 9px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoLink2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

/*
     FILE ARCHIVED ON 09:52:40 Jun 12, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:20:44 Apr 12, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1314.548
  exclusion.robots: 0.148
  exclusion.robots.policy: 0.135
  RedisCDXSource: 1012.667
  esindex: 0.006
  LoadShardBlock: 282.41 (3)
  PetaboxLoader3.datanode: 446.789 (5)
  CDXLines.iter: 16.808 (3)
  load_resource: 546.324 (2)
  PetaboxLoader3.resolve: 304.088 (2)
*/