.Texto
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoMenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Arial, Tahoma, Verdana
}
.TextoMenu1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Arial, Tahoma, Verdana
}
.TextoContador
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoDamiao
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoTitulo
{
    FONT-SIZE: 18px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoLateral
{
    FONT-WEIGHT: 100;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    CURSOR: hand;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
.TextoFotos
{
    FONT-SIZE: 9px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.TextoLink2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

/*
     FILE ARCHIVED ON 02:32:43 Sep 02, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:33:47 Apr 12, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.218
  load_resource: 225.184
  PetaboxLoader3.datanode: 379.271 (4)
  esindex: 0.018
  exclusion.robots.policy: 0.203
  CDXLines.iter: 23.746 (3)
  captures_list: 469.908
  LoadShardBlock: 358.131 (3)
  PetaboxLoader3.resolve: 91.645
  RedisCDXSource: 83.73
*/